asgiref==3.7.2
contourpy @ file:///work/perseverance-python-buildout/croot/contourpy_1701756524386/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Django==3.2
fonttools==4.25.0
kiwisolver @ file:///work/perseverance-python-buildout/croot/kiwisolver_1698847502605/work
matplotlib @ file:///work/perseverance-python-buildout/croot/matplotlib-suite_1698863180732/work
mkl-fft @ file:///work/perseverance-python-buildout/croot/mkl_fft_1698845673361/work
mkl-random @ file:///work/perseverance-python-buildout/croot/mkl_random_1698845720894/work
mkl-service==2.4.0
munkres==1.1.4
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
packaging @ file:///croot/packaging_1710807400464/work
pillow @ file:///croot/pillow_1707233021655/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
psycopg==3.1.18
psycopg2 @ file:///work/perseverance-python-buildout/croot/psycopg2_1707348232349/work
pyparsing @ file:///work/perseverance-python-buildout/croot/pyparsing_1698847881454/work
PyQt5==5.15.10
PyQt5-sip @ file:///work/perseverance-python-buildout/croot/pyqt-split_1698847927472/work/pyqt_sip
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2024.1
setuptools==68.2.2
sip @ file:///work/perseverance-python-buildout/croot/sip_1698846977033/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sqlparse @ file:///work/perseverance-python-buildout/croot/sqlparse_1698874574933/work
tornado @ file:///work/perseverance-python-buildout/croot/tornado_1698866362018/work
typing_extensions==4.10.0
wheel==0.41.2
